package day$

// ========================
// PART I
// ========================
func I() int {
	return 0
}

// ========================
// PARSER
// ========================

func ParseInput(file string) {

}
